<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Add Note</title>
</head>
<body>

<div class="container">
    <br><br>

    <p class="h4 mb-4">Add Note</p>

    <form action="#" th:action="@{/user/performAddNote}" th:object="${note}" method="POST">

        <input type="hidden" th:field="${note.id}">
        <input type="text" th:field="${note.title}" class="form-control mb-4 w-25" placeholder="First Name">
        <input type="text" th:field="${note.content}" class="form-control mb-4 w-25" placeholder="Last Name">
        <input type="text" th:field="${note.color}" class="form-control mb-4 w-25" placeholder="Email">
        <button type="submit" class="btn btn-info col-2">Add</button>
    </form>
    <hr>
    <a th:href="@{/user/home}">Back to Notes List</a>
</div>

</body>
</html>